/* This file is for your main application css. */

/* @import "./phoenix.css"; */
@import "../../deps/phoenix_live_view/assets/css/live_view.css";

#the-course {
  width: 80%;
  margin: auto;
}

text {
  stroke: rgb(77, 71, 71);
  font-size: 24pt;
  letter-spacing: 4px;
  font-family: sans-serif;
}

.next-char {
  text-decoration: overline;
}

tspan.next-char {
  fill: black;
  stroke: black;
}

.error tspan.next-char {
  fill: red;
  stroke: red;
}

.orange {
  fill: orange;
  stroke: orange;
}

.blue {
  fill: blue;
  stroke: blue;
}

tspan {
  fill-opacity: 0.5;
}

.unowned {
  fill: lightgrey;
  stroke: darkgrey;
  fill-opacity: 1;
  stroke-width: 2;
}

.cur-text {
  fill: black;
  stroke: black;
  stroke-width: 2;
}

.cur-text.error {
  fill: red;
  stroke: red;
}

path.course {
  fill-opacity: 0;
}

path.primary {
  stroke: #ecf1f8;
  stroke-width: 45;
}

path.secondary {
  stroke: #d3d3d3;
  stroke-width: 50;
}

.marker.error.show {
  display: unset;
}

.marker.error {
  display: none;
  fill: red;
}
