/* This file is for your main application css. */

// @import "./phoenix.css";
@import "./form.scss";
@import "./sidebar.scss";
@import "./universe.scss";
@import "../../deps/phoenix_live_view/assets/css/live_view.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    background: #000;
    color: #eee;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Chau Philomene One', sans-serif;
    margin-bottom: 5px;
}

main {
    flex: 1;
}

div[data-phx-view="GameOfLifeWeb.UniverseLive"] {
    display: flex;
    height: 100%;
}