/* This file is for your main application css. */

/* @import "./phoenix.css"; */
@import "../../deps/phoenix_live_view/assets/css/live_view.css";

.map text {
  stroke: rgb(77, 71, 71);
  font-size: 24pt;
  letter-spacing: 4px;
  font-family: sans-serif;
}
.map {
  width: 60%;
  margin: auto;
}
.before-text {
  fill: orange;
  stroke: orange;
}
.after-text {
  fill: lightgrey;
  stroke: darkgrey;
  stroke-width: 2;
}
.cur-text {
  fill: black;
  stroke: black;
  stroke-width: 2;
}

.cur-text.error {
  fill: red;
  stroke: red;
}

.map path.course {
  fill-opacity: 0;
}
.map g.marker {
  fill-opacity: 1;
}
#thepath {
  stroke: #ecf1f8;
  stroke-width: 45;
}

#theotherpath {
  stroke: #d3d3d3;
  stroke-width: 50;
}